body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("../images/randomletters.jpg");
    text-align: center;
}

.header{
    text-align: center;
    font-weight: bold;
    margin: 10px;
   
}

h1{
    font-size: 48px;
    color: magenta;
    padding: 20px;

}

hr{
    color:darkslateblue;
    padding: 20px;

}

h2{
    font-size: 36px;
    color: darkmagenta;
    padding: 30px;

}

h3{
    color:darkorchid;
    font-size: 32px;
    font-weight: normal;
}
.play{
    margin-left: 250px;
    padding: 20px;
    font-size:28px;
    color:darkblue;
    float: left;
}
.tally{
    margin-right: 340px;
    padding: 20px;
    font-size: 28px;
    color: darkblue;
    float:right;
}

